In [1]:
import pandas as pd
from sklearn.ensemble import GradientBoostingClassifier
import pickle

In [3]:
# Cargar la tabla transformada
df = pd.read_csv("../data/processed/score_accept_credit.csv").set_index('ID')

In [4]:
df.head()

,INGRESO_BRUTO,EDAD,NRO_PAS_PBK,EMP_REP_TC_SF,EMP_REP_PP_SF,MAX_LINEA_TCSF,NRO_ENT_REP_TOT_U6,NRO_ENT_REP_SAL_TOT_U6,PORC_ENT_REP_SAL,NRO_ENT_REP_TOT_UM,...,CLI_FM,CLI_MILL,CLI_PLA,CLI_TXS,EMP_REP_PP_PBK,EMP_REP_CONV_PBK,EMP_REP_VEH_PBK,EMP_REP_HIP_PBK,CLF_SBS,FLG_BANCARIZADO
ID,,,,,,,,,,,,,,,,,,,,,
20366263,-0.423828,2.138434,-2.096206,1.055322,0,-0.117371,4.666667,2.096365,0.911111,2.256303,...,0,0,0,0,0,0,0,0,0.0,1
82478899,-0.713677,-0.503681,-0.255254,2.616887,2,-0.024479,5.000000,2.096365,0.866667,4.494328,...,0,0,0,1,0,0,0,0,0.0,1
44808895,0.613511,1.682897,-2.096206,1.055322,1,0.104793,3.000000,-1.287025,0.000000,2.256303,...,0,0,0,0,0,0,0,1,0.0,1
94803907,-0.755281,-1.323648,-0.255254,-0.506243,0,-0.158666,1.000000,-0.506243,1.000000,0.018278,...,0,0,0,1,0,0,0,0,0.0,1
84031105,-0.662790,-0.594788,-0.255254,0.274539,1,-0.100028,2.000000,-0.506243,0.500000,1.137291,...,0,0,0,1,0,0,0,0,0.0,1

In [5]:
# Leemos el modelo entrenado!
filename = '../models/credit_campaing_trabajo_final_GB.pkl'
model= pickle.load(open(filename, 'rb'))

In [6]:
# Predecimos sobre el set de datos de implementacion con el modelo entrenado
scores=model.predict(df).reshape(-1,1)

/usr/local/lib/python3.10/dist-packages/sklearn/base.py:432: UserWarning: X has feature names, but GradientBoostingClassifier was fitted without feature names
  warnings.warn(

In [8]:
# Exportamos el resultado del modelo para cargarlo en el Feature Store o Data Mart de Modelos
# Le asignamos nombres a las columnas
df_score = pd.DataFrame(scores, columns=['PREDICT'])
# Exportamos la solucion
df_score.to_csv('../data/scores/final_score.csv')

In [9]:
df_score

      PREDICT
0           1
1           1
2           0
3           1
4           1
...       ...
1245        1
1246        0
1247        0
1248        1
1249        1

[1250 rows x 1 columns]